# MongoDB
MONGODB_URI=mongodb+srv://kmcorganicproducts24_db_user:Kmcorganic24@cluster0.xusocmz.mongodb.net/kmc-natural-products?retryWrites=true&w=majority&appName=Cluster0


# Cloudinary (find these in your Cloudinary dashboard)
CLOUDINARY_CLOUD_NAME=byxhc6ws
CLOUDINARY_API_KEY=643221438219418
CLOUDINARY_API_SECRET=6JlVuYBeTJPM02Pm7Uo-cTB9c9k

# Auth
JWT_SECRET=change_this_to_a_long_random_string
ADMIN_EMAIL=admin@kmcorganicfarm.com
ADMIN_PASSWORD=Kmcorganic@24

# Site
NEXT_PUBLIC_SITE_NAME=KMC Organic Farm
NEXT_PUBLIC_CONTACT_PHONE=+91 8124128840
NEXT_PUBLIC_CONTACT_PHONE_2=+91 7010032694
NEXT_PUBLIC_WHATSAPP=918124128840
NEXT_PUBLIC_ADDRESS=Kallidaikurichi, Tirunelveli, Tamil Nadu
